.introVideo {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  object-fit: cover;
  overflow: hidden;
  scroll-snap-align: center;
  scroll-snap-stop: normal;
}

.introVideo video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.dimmer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  z-index: 2;
  font-size: 20px;
}

.lightBlue {
  color: #01bfe6;
}

.h2 {
  font-size: 100px;
  font-weight: 400;
  margin: 20px;
  animation: h2 0.8s;
  position: absolute;
  bottom: 21%;
  left: 4%;
}

@keyframes h2 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.hero {
  position: absolute;
  bottom: -20%;
  left: 4%;
  text-shadow: 2px 2px 2px #000;
  animation: hero 0.8s 0.2s forwards;
}

@keyframes hero {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    bottom: 10%;
  }
}

.hero p {
  text-align: center;
  font-size: 28px;
  margin: 20px;
}

.btns {
  display: flex;
  justify-content: space-around;
}

.btns button {
  padding: 14px 20px;
  margin: 6px 0;
  width: 40%;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  cursor: pointer;
  text-shadow: 1px 1px 2px #000;

  transition: all 0.2s ease-in;
}

.btns button:hover {
  background-color: #727e8a;
  color: #eee;
}

.videoProgressBar {
  position: absolute;
  bottom: 4%;
  left: 0;
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
}

.progressWrapper {
  width: 80%;
  height: 6px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
}

.progressBar {
  width: 0;
  height: 100%;
  border-radius: 10px;
  background-color: #01bfe6;
  margin: 0 auto; /* remove for linear fill */

  transition: width 0.423s linear;
}
