.Ratings {
  /* padding: 0 80px; */
  margin-right: 40px;
  display: grid;
  grid-template-areas:
    "first first"
    "second third"
    "fourth fourth";
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.rating {
  background-color: rgba(255, 255, 255, 0.95);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  border-radius: 10px;
}

.rating:nth-child(1) {
  grid-area: first;
  width: 240px;
}

.rating:nth-child(2) {
  grid-area: second;
  width: 100px;
}

.rating:nth-child(2) .rates {
  display: none;
  margin-left: 0;
}

.rating:nth-child(3) {
  grid-area: third;
  width: 100px;
}

.rating:nth-child(3) .rates {
  display: none;
  margin-left: 0;
}

.rating:nth-child(4) {
  grid-area: fourth;
  width: 240px;
}

.rates {
  margin-left: 40px;
}

.rates p span {
  color: rgb(32, 160, 199);
  font-size: 1.2em;
}

.stars {
  width: 80px;
  text-align: center;
}

.stars img {
  width: 16px;
  height: 16px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.img {
  width: 100px;
}
