.Ratings {
  padding: 0 20px;
  display: grid;
  grid-template-areas:
    "first first"
    "second third"
    "fourth fourth";
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.rating {
  background-color: rgba(255, 255, 255, 0.95);
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 14px;
  border-radius: 10px;
}

.rating:nth-child(1) {
  grid-area: first;
  width: 240px;
}

.rating:nth-child(2) {
  grid-area: second;
  width: 140px;
}

.rating:nth-child(2) p {
  display: none;
}

.rating:nth-child(2) .ratings {
  display: none;
}

.rating:nth-child(3) {
  grid-area: third;
  width: 140px;
}

.rating:nth-child(3) p {
  display: none;
}

.rating:nth-child(3) .ratings {
  display: none;
}

.rating:nth-child(4) {
  grid-area: fourth;
  width: 300px;
}

.rates {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rates p span {
  color: rgb(32, 160, 199);
  font-size: 1em;
}

.stars {
  width: 140px;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
}

.img {
  width: 100px;
}
